

body{
    font-family:Verdana;
    text-align: center;
}
#diceButton{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(214, 100%, 74%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

#diceButton:hover
{
    background-color: hsl(214, 100%, 56%)
}

#diceroll
{
    font-size: 3em;
}